<%- include("includes/head.ejs") %>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <%- include("includes/navigation.ejs") %>  

  <div id="bg-container">
    <div id="backgroun-image">
      <% if(error) { %>
        <% error.forEach( e => { %>
            <p id="error"><%= e.msg %></p>
        <% }) %>
      <% } %>
      <h1 id="title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
      <h2 id="sub-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magnam iste nostrum quasi facilis amet labore! Repellat magnam iste nostrum quasi facilis amet labore!
      </h2>
      <!-- <a href="#">Εργα</a> -->
      <div id="scroll"> 
        <i class="far fa-arrow-alt-circle-down fa-2x"></i>
      </div>
    </div>
  </div> 

    <!-- <div id="scroll"> 
      <i class="far fa-arrow-alt-circle-down fa-4x"></i>
    </div> -->

  <div id="categories">
    <h2>Κατηγορίες Έργων</h2>

    <div id="categories-container">
      <div>
        <a href="categories/category1"><img src="images/carving.jpg" alt=""></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum accusamus non fuga error nisi</p>
      </div>
      <div>
        <a href="/categories/category2"><img src="images/carving.jpg" alt=""></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum accusamus non fuga error nisi</p>
      </div>
      <div>
        <a href="/categories/category3"><img src="images/carving.jpg" alt=""></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum accusamus non fuga error nisi</p>
      </div>
    </div>
  </div>
  
  <div id="recent-projects-container">
    <h2 id="new-projects">
      Πρόσφατα Έργα 
    </h2>
  
    <div id="recent-projects">
      <div>
        <img id="recent-projects-img-container" data-aos="zoom-out" data-aos-duration="1500" src="<%= images[images.length - 1].imageUrl %>" alt="">
      </div>
      <p>
        <%= images[images.length - 1].description %>
      </p>
      <div id="div-change">
        <img id="recent-projects-img-container" data-aos="zoom-out" data-aos-duration="1500" src="<%= images[images.length - 2].imageUrl %>" alt="">
      </div>
      <p id="p-change">
        <%= images[images.length - 2].description %>      </p>
      <div>
        <img id="recent-projects-img-container" data-aos="zoom-out" data-aos-duration="1500" src="<%= images[images.length - 3].imageUrl %>" alt="">
      </div>
      <p>
        <%= images[images.length - 3].description %>      </p>
    </div>
  </div>

  <div id="communication-main-container">

    <h2>Επικοινωνήστε μαζί μας</h2>
    <h3>Τηλέφωνο: 1234567891</h3>
    <h3>e-mail: abc@abc.com</h3>

    <div id="communication-container">
      <div id="left-box">
        
      </div>
      <div id="right-box">
        <form action="/send-email" method="POST" novalidate>
          <div>
            <!-- <label for="name">Όνομα</label> -->
            <input placeholder="Όνομα" type="text" class="form-control" name="name">
          </div>
          <div>
            <!-- <label for="last">Επίθετο</label> -->
            <input placeholder="Επίθετο" type="text" class="form-control" name="last">
          </div>
          <div>
            <!-- <label for="exampleInputEmail1">e-mail</label> -->
            <input placeholder="e-mail" type="email" class="form-control" name="email" aria-describedby="emailHelp">
          </div>
          <div>
            <!-- <label for="message">Μήνυμα</label> -->
            <textarea name="message" placeholder="Γράψτε το μήνυμα σας εδώ" id="text"  rows="6"></textarea>
          </div>
          <button type="submit">Αποστολή</button>
          <input type="hidden" name="_csrf" value="<%= csrf %>">
        </form>
      </div>
    </div>
</div>

<%- include("includes/footer.ejs") %>

  <script>
    AOS.init();
  </script>

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

</body>
</html>